<div class="container">
  <h1>CREATE YOUR ACCOUNT</h1>
  <form action="/create_user" method="post" autocomplete="on">
    <input type="text" name="user[username]" required placeholder="User Name">
    <input type="password" name="user[password]" required placeholder="Password">
    <input type="submit" value="Submit">
  </form>
</div>
