<div class="container">
  <h1>Game Over!</h1>
  Score: <%=@game.score.to_f %>

</div>

<div class="container">
	<h1> Your Rank: </h1>


	<h2>Top scores</h2>
	<ol>
		<li><h1>Name</h1><h1><span>Score</span></h1></li>
		<% @game.sorted_rank_list.reverse.each do |user_score| %>
			<li><p><%= user_score[:name] %></p><span><%= user_score[:score] %></span></li>
      <% end %>
	</ol>
</div>
