<div class="container">

  <h1> FLASHCARDS HOMEPAGE </h1>
<% if session[:id] %>
  <form action="/" method="post" autocomplete="on">
    User Name <input type="text" name="username" required>
    Password <input type="text" name="password" required>
    <input type="submit" value="Sign In">
  </form>
  <a href="/create_user">Create Your Account</a>
<% else %>
  <a href="/logout">Logout</a>
<% end %>


<p>DECKS GO IN HERE </p>



</div>


